In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dt = np.dtype(np.int32)
dt

dtype('int32')

In [3]:
# int8, int16, int32, int64 四种数据类型可以使用字符串 'i1', 'i2','i4','i8' 代替
dt = np.dtype('i4')
print(dt)

int32

In [4]:
dt = np.dtype([('age',np.int8)])
dt

dtype([('age', 'i1')])

In [5]:
a = np.array([(10,), (20,), (30,)], dtype=dt)
a

array([(10,), (20,), (30,)], dtype=[('age', 'i1')])

In [6]:
a["age"]

array([10, 20, 30], dtype=int8)

In [8]:
#  获取数组的维度
a = np.arange(24)
b = a.reshape(2,3,4)
a.ndim, b.ndim

(1, 3)

In [3]:
pd.DataFrame({'yes':[50, 20], 'no':[131, 2]})

   yes   no
0   50  131
1   20    2

In [8]:
# 创建数据
# 使用series创建series对象
s = pd.Series([1, 3, 6, 10, np.nan, 6, 8])
s

0     1.0
1     3.0
2     6.0
3    10.0
4     NaN
5     6.0
6     8.0
dtype: float64

In [35]:
# 通过numpy的array数据来创建DataFrame对象
dates = pd.date_range('20190101', periods=6)
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2019-01-01  0.668945 -0.752133  0.102680 -0.741658
2019-01-02  1.084090  2.057418 -0.750373 -1.632057
2019-01-03  0.049288  2.160444 -1.848039  1.074628
2019-01-04  0.010085 -0.481736  0.456112  1.432767
2019-01-05  1.961975 -0.816129 -0.729354  0.241028
2019-01-06 -1.430364 -0.580946 -0.338910  0.446080

In [12]:
# 使用字典来创建DataFrame对象
df2 = pd.DataFrame({
    'A': 1.,
    'B': pd.Timestamp('20190102'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([3] * 4, dtype='int32'),
    'E': pd.Categorical(["test", "train", "test", "train"]),
    'F': 'foo'
})
df2

     A          B    C  D      E    F
0  1.0 2019-01-02  1.0  3   test  foo
1  1.0 2019-01-02  1.0  3  train  foo
2  1.0 2019-01-02  1.0  3   test  foo
3  1.0 2019-01-02  1.0  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
dir(df2)

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_attrs',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_item_cache',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [22]:
# 数据查看
# 查看头部和尾部数据
df.head(3)

                   A         B         C         D
2019-01-01  0.668945 -0.752133  0.102680 -0.741658
2019-01-02  1.084090  2.057418 -0.750373 -1.632057
2019-01-03  0.049288  2.160444 -1.848039  1.074628

In [23]:
df.tail(3)

                   A         B         C         D
2019-01-04  0.010085 -0.481736  0.456112  1.432767
2019-01-05  1.961975 -0.816129 -0.729354  0.241028
2019-01-06 -1.430364 -0.580946 -0.338910  0.446080

In [24]:
df.index

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.390670  0.264486 -0.517981  0.136798
std    1.149332  1.434023  0.804224  1.145959
min   -1.430364 -0.816129 -1.848039 -1.632057
25%    0.019886 -0.709336 -0.745118 -0.495987
50%    0.359116 -0.531341 -0.534132  0.343554
75%    0.980304  1.422629 -0.007718  0.917491
max    1.961975  2.160444  0.456112  1.432767

In [27]:
df.T

   2019-01-01  2019-01-02  2019-01-03  2019-01-04  2019-01-05  2019-01-06
A    0.668945    1.084090    0.049288    0.010085    1.961975   -1.430364
B   -0.752133    2.057418    2.160444   -0.481736   -0.816129   -0.580946
C    0.102680   -0.750373   -1.848039    0.456112   -0.729354   -0.338910
D   -0.741658   -1.632057    1.074628    1.432767    0.241028    0.446080

In [29]:
# 根据列名排序
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2019-01-01 -0.741658  0.102680 -0.752133  0.668945
2019-01-02 -1.632057 -0.750373  2.057418  1.084090
2019-01-03  1.074628 -1.848039  2.160444  0.049288
2019-01-04  1.432767  0.456112 -0.481736  0.010085
2019-01-05  0.241028 -0.729354 -0.816129  1.961975
2019-01-06  0.446080 -0.338910 -0.580946 -1.430364

In [30]:
# 根据b的值进行排名
df.sort_values(by='B')

                   A         B         C         D
2019-01-05  1.961975 -0.816129 -0.729354  0.241028
2019-01-01  0.668945 -0.752133  0.102680 -0.741658
2019-01-06 -1.430364 -0.580946 -0.338910  0.446080
2019-01-04  0.010085 -0.481736  0.456112  1.432767
2019-01-02  1.084090  2.057418 -0.750373 -1.632057
2019-01-03  0.049288  2.160444 -1.848039  1.074628

In [31]:
# 使用[]选取数据
df['A']

2019-01-01    0.668945
2019-01-02    1.084090
2019-01-03    0.049288
2019-01-04    0.010085
2019-01-05    1.961975
2019-01-06   -1.430364
Freq: D, Name: A, dtype: float64

In [33]:
df['20190102':'20190105']

                   A         B         C         D
2019-01-02  1.084090  2.057418 -0.750373 -1.632057
2019-01-03  0.049288  2.160444 -1.848039  1.074628
2019-01-04  0.010085 -0.481736  0.456112  1.432767
2019-01-05  1.961975 -0.816129 -0.729354  0.241028

In [36]:
# 通过标签选取数据
df.loc[dates[0]]

A    0.668945
B   -0.752133
C    0.102680
D   -0.741658
Name: 2019-01-01 00:00:00, dtype: float64

In [37]:
df.loc[:,['A','B']]

                   A         B
2019-01-01  0.668945 -0.752133
2019-01-02  1.084090  2.057418
2019-01-03  0.049288  2.160444
2019-01-04  0.010085 -0.481736
2019-01-05  1.961975 -0.816129
2019-01-06 -1.430364 -0.580946

In [38]:
df.loc['20190102':'20190104',['A','B']]

                   A         B
2019-01-02  1.084090  2.057418
2019-01-03  0.049288  2.160444
2019-01-04  0.010085 -0.481736

In [4]:
import numpy as np

In [5]:
np_array = np.arange(10000000)

In [6]:
py_array = list(range(10000000))

In [8]:
%time for i in range(10): np_array * 2

CPU times: user 148 ms, sys: 115 ms, total: 263 ms
Wall time: 261 ms

In [9]:
%time for i in range(10): [x * 2 for x in py_array]

CPU times: user 4.07 s, sys: 1.66 s, total: 5.74 s
Wall time: 5.75 s